<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Visningsbokning bekräftad för <%streetAddress%></title>
</head>
<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">

</body>
</html>
        <span>
            Hej,
        </span><br/><br/>
        <span>
            Din visningsbokning för <%streetAddress%> är nu bekräftad.
        </span>
        <span>
            Visningstid: <%startDate%><br/>
            Adress: <%fullAddress%><br/>
            <br/>
            Välkommen!
        </span>
<div>
    <span>
        -----------------------------<br/>
        <%brokerName%><br/>
        Tel: <%brokerPhone%><br/>
        Email: <%brokerEmail%><br/>
        <%companyName%><br/>
        <br/>
        Med vänlig hälsning
    </span>
</div>


