/*
body, #main-content, #print-header, .container {
    width: 100%;
    margin: 0;
    float: none;
}
*/

@media print {
  #interestedForm, #property-navigation, #objectFiles {
      display: none;
  }

  .print-logo {
    display: block;
    width: 135px;
  }

  #object-header {
      page-break-after: always;
  }

  #object .object-contacts img {
      width: 100px;
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;
  }

  .contact-info-container > .row {
      margin: 0;
  }

  a[href]:after {
      content: '';
  }

  #print-header {
      position:absolute;
      top: 0;
      text-align: center;
      background-color: #333;
      display: none;
      z-index: 100;
      width: 100%;
      padding: 20px 0 !important;
      float: none;
  }


  #print-header img {
      width: 30px;
      height: 30px;
  }

  .print-button {
      display: none;
  }

  .all-property-img {
    visibility: visible;
  }
  .all-property-img a {
    display: none !important;
  }
  .bidding-active {
    display: none !important;
  }
  #property-information {
      font-size: 12px;
  }
  #bidding-area {
    display: none;
  }

}
