body {
    /*font-family: 'Source Sans Pro', arial, verdana, sans-serif;*/
    font-family: 'Roboto', sans-serif !important;
    background-color: #f5f5f5;
    color: #333;
}

#main-content h1,
#main-content h3 {
    /*font-family: 'Cardo', 'Source Sans Pro', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

#property-images img, #property-floorplan img, #property-houseasosimage img { margin-bottom: 10px; }
#property-images { text-align: center !important; }

.all-property-img {
    width: auto;
}

.all-property-img a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    margin-top: -45px;
    padding: 10px;
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 1;
}

hr {
    margin: 10px 0 10px 0;
}

.all-property-img a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #333;
}

.logo {
    width: 135px;
    height: 90px;
}
.logo img {
    width: 100%;
}

.print-logo {
    display: none;
}

pre {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.428571429;
    color: #333;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: normal;       /* Internet Explorer 5.5+ */
    word-break: normal;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 0px;
    font-weight: 300;
    overflow-x: hidden;
}

.obj-info {
    padding: 20px;
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    height: 250px;
}
.bottom {
    position: absolute;
    bottom: 20px;
}
.img-responsive1 {
    max-width: 100%;
    height: auto;
}
/** image popup classes **/
.img-wrapper {
    display: inline-block;
    max-width: 100%;
    position: relative;
}
/*getting all css from user -> a property*/
/*problem if image is the same color as a background*/
.img-title {
    padding: 0px 25px;
    background: #FFFFFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    pointer-events: none;
}
/*not responsive*/
/*@media screen and (max-width: 600px) {
    .img-title {
        display: none;
    }
}*/
.object-type-title {
    font-size: 0.9em;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
    color: rgba(0,0,0,0.4);
}

.objectlist-item {
    padding: 0;
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 15px 0;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(22,22,22,0.1);
    font-size: 0.9em;
    border: 0 solid transparent;
    border-bottom-width: 5px;
}

.objectlist-item:hover {
    border-color: rgba(22,22,22,0.1);
    border-bottom-color: #006EB9;
}

.objectlist-item .property-image {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 150px;
    overflow: hidden;
    background-color: rgba(100,100,100,0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.objectlist-item .property-image img {
    width: 100%;
    margin: 0 auto;
}
.objectlist-item .property-info {
    padding: 10px 0;
    min-height: 145px;
}
.objectlist-item .property-city {
    text-transform: uppercase;
    color: #aaa;
}
.objectlist-item .property-name {
    font-weight: 600;
    font-size: 1.4em;
    margin: 2px 0 15px 0;
    line-height: 1.2em;
}
.objectlist-item .property-name a {
    color: inherit;
}
.objectlist-item .property-name a:hover {
    text-decoration: underline;
}
.objectlist-item .property-address {
    color: #777;
}
.objectlist-item .property-price {

}

.column {
    height: 315px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.img-preview {
    padding: 20px 0px;
}
.clear { clear:both; }
ul { list-style-type: none; margin: 0; padding: 0;}

#object {
    padding: 20px 0 30px;
    clear: both;
}

#object .print-button {
    position: absolute;
    right: 15px;
    top: 15px;
/*     font-size: 30px; */
    z-index: 50;
}

#object .property-title {
    /*font-family: 'Cardo', Arial;*/
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin: 20px 0 0 0;
}

#object .property-region {
    /*font-family: 'Cardo', Arial;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #aaa;
    font-weight: 300;
    font-size: 2em;
}

.description-label {
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 3px;
    width: 50%;
}

.capitalized {
    text-transform: capitalize;
}

#property-information h2,
#property-images h2,
#property-files h2,
#property-floorplan h2,
#property-houseasosimage h2,
#property-houseasosfile h2,
#property-maps h2 {
    /*font-family: 'Cardo';*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid #ddd;
    margin-top: 25px;
    font-size: 25px;
}

#object h3 {
    /*font-family: 'Cardo';*/
    font-family: 'Roboto', sans-serif;
}

#property-information ul {
    margin-top: 10px;
}
/*wraped the text*/
#property-information ul li {
    margin-bottom: 5px;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 4px 0;
    font-weight: 100;
}

#property-information ul li:last-child {
    margin-bottom: 0;
}

#object .description-label {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 3px;
}

#object #short-info {
    clear: both;
    padding: 0;
    margin-top: 30px;
}
#object #short-info pre {
    text-align: justify;
}

#object #short-info li {
    width: 50%;
    float: left;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 5px 0;
    display: inline-flex;
}

@media screen(max-width: 768px) {
    #object #short-info li {
        width: 100%;
    }
}

#object .selling-text {
    margin-top: 20px;
}

#object .selling-text h4 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0;
}

#object .object-contacts {
    background-color: #f5f5f5;
    padding: 30px;
    display: block;
}

#object .object-contacts h1 {
    margin: 0 0 20px 0;
    padding: 0;
}

#object .object-contacts img {
    width: 100%;
}

#object .object-contacts .contact-info {
    margin-bottom: 15px;
    word-break: break-all;
    white-space: nowrap;
    float: left;
}

#object .object-contacts .contact-name {
    font-weight: 700;
}

#object .object-contacts a {
    color: #333;
}

#object .object-contacts input[type="text"], #object .object-contacts input[type="email"], #object .object-contacts textarea {
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 2px 5px;
    display: block;
}

.broker-img {
    margin-left: -15px;
    margin-bottom: 10px;
}

#object .object-contacts textarea {
    width: 100%;
}

#object table th,
#object table td {
    padding: 5px;
}

#search {
    display: inline-block;
}

#search-box {
    text-align: right;
/*     display: inline-block; */
}

#search-box input[type='text'] {
    border: 0px solid #ccc;
    padding: 5px;
    outline: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: 13px "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 180px;
    max-width: 100%;
    background: #fff;
    height: 35px;
}
#search-box input[type="text"]:focus {
    display: inline;
    font-weight: normal;
    font-size: 13px;
}
.search-button {
    background: transparent;
    font-size: 20px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.searchbox {
    width: 50%;
    margin-bottom: 25px;
    text-align: left;
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
}

@media screen (max-width: 991px) {
    #search-box {
        margin-top: 15px;
    }

/*    .property-content {
        margin-top: 100px;
    }*/
}

@media screen (min-width: 768px) {
    #search {
        float: right;
    }
}

@media screen (max-width: 767px) {
    #search {
        width: 100%;
    }

    .searchbox {
        width: 90%;
    }

    #search-box {
        text-align: center;
    }

    #search-box input[type='text'] {
        width: 80%;
    }

    .navigation-item {
        width: 90%;
        margin: 2px 5% !important;
    }
}

#object strong {
    font-weight: bolder;
    color: #000;
}

.button-link {
    padding: 5px 15px;
    margin-top: 22px;
    font-size: 12px;
    background: #006EB9;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 0px #20538D;
    /*

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
*/
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display: inline-block;
}
.button-link:hover {
    background: #0364a5;
    border: solid 0px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 0px #203E5F;
}

.recap {
    float: left;
    /*Making recaptcha responsive*/
    margin-left: -26px;
    transform: scale(0.93);
}

#property-navigation {
    width: 100%;
    padding: 0 0 5px 0;
    margin: 20px 0 0 0;
}

#property-navigation a {
    background-color: #333;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 5px 10px 0 0;
    padding: 5px 15px 5px 15px;
    display: block;
    float: left;
}

#property-navigation a.active {
    background-color: #006EB9;
    color: #fff;
/*
    background-image: url(../img/arrow.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 10px 5px;
*/
}

#property-navigation a:hover {
    opacity: 0.9;
}

#property-information {
    font-size: 1.1em;
}

#property-images .property-image, #property-floorplan {
    min-height: 360px;
    text-align: center;
    margin-bottom: 30px;
}

#property-images .property-image img {
    max-height: 360px;
    margin: 0 auto;
}


.header-logo {
    height: 30px;
    margin-top: -5px;
}

#contacts .broker {
    text-align: center;
    line-height: 1.3em;
    margin: 10px 0 20px 0;
    height: 285px;
}

.broker-image {
    height: 235px;
    width: 190px;
    margin: 0 auto;
}

#contacts .broker-image img {
    width: 100%;
    height: 15em;
}

#contacts .broker-name {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    margin: 7px 0 3px 0;
}

#print-header {
    display: none;
}

.map-wrap{
    height:0;
    width:0;
    overflow:hidden;
}

#map-canvas {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0px
}

div#interestedForm input {
    float: right;
    border-radius: 0;
}

.webhomeImage {
    width: 100%;
    max-height: 600px;
}

.marker {
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 10px;
    margin: 10px 3px;
}

.bidding-is-active {
    background-color: #006EB9;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    min-height: 60px;
}

.email-success {
    color: #258F1C;
    padding: 10px 0 0 0;
    font-weight: bold;
}
.email-fail {
    color: #E73939;
    padding: 10px 0 0 0;
    font-weight: bold;
}
#email-loading, #booking-loading {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#email-loading img {
    left: 34%;
    position: absolute;
    top: 0%;
}

.button-book {
    padding: 2px 5px !important;
    margin: 5px 5px !important;
}

.sold-image {
    width: 85px;
    height: 27px;
    background: #CF4915;
    position: absolute;
    z-index: 1;
    color: #FFF;
    padding: 3px 28px;
    font-size: 17px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 9px 0px 0px -15px;
}

.property-description {
    font-weight: 100;
    font-size: 1.3em;
    margin: 2px 0 15px 0;
}


.list-image {
    margin-left: -25px !important;
    margin-right: -25px !important;;
    margin-top: 5px !important;
}

.fix-left-margin {
    margin: 0 -10px;
}
