<?php if($web): ?>
<div id="main-content" class="container">
    <div class="col-md-12">
        <h1><?php echo get_the_title(); ?></h1>
    	<div class="row">
        	<div class="col-md-8">
			<?php foreach($web as $w): ?>
            	<p><?php echo $w->getBody() ?></p>
			<?php endforeach ?>
        	</div>
    	</div>
    </div>
</div>
<?php endif; ?>