<?php if(isset($assistants) && count($assistants)>0): ?>
    <div class="col-md-12">
        <div class="col-md-6">
            <h3>Assistenter</h3>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <?php foreach ($assistants as $assistant): ?>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="broker">
                    <div class="broker-image">
                        <?php $avatar = $assistant->getProfileAvatar() ? $assistant->getProfileAvatar() : (plugins_url() . "/mspecs/includes/img/no_image_available_male2.png"); ?>
                        <div style="background-image: url('<?php echo $avatar ?>');
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            "></div>
                    </div>
                    <div class="broker-name"><?php echo $assistant->getTitle() ?> <?php echo $assistant->getFirstName() . ' ' . $assistant->getLastName(); ?></div>
                    <?php if ($email = $assistant->getEmail()): ?>
                        <div class="broker-email"><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></div>
                    <?php endif; ?>
                    <?php if ($phone = $assistant->getPhoneNumber()): ?>
                        <div class="broker-phone"><?php echo $assistant->formatPhone($phone); ?></div>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>

<?php endif; ?>