<?php if(isset($brokers)): ?>
    <div class="col-md-12">
        <div class="col-md-6">
            <h3>Mäklare</h3>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <?php foreach ($brokers as $broker): ?>
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
            <div class="broker">
                <div class="broker-image">
                    <?php $avatar = $broker->getProfileAvatar() ? $broker->getProfileAvatar() : (plugins_url() . "/mspecs/includes/img/no_image_available_male2.png"); ?>
                    <div style="background-image: url('<?php echo $avatar ?>');
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                        "></div>
                </div>
                <div class="broker-name"><?php echo $broker->getTitle() ?> <?php echo $broker->getFirstName() . ' ' . $broker->getLastName(); ?></div>
                <?php if ($email = $broker->getEmail()): ?>
                    <div class="broker-email"><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></div>
                <?php endif; ?>
                <?php if ($phone = $broker->getPhoneNumber()): ?>
                    <div class="broker-phone"><?php echo $broker->formatPhone($phone); ?></div>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>
    </div>

<?php endif; ?>

<!-- showing assistants list -->
<?php echo do_shortcode( '[mspecsapi api="getAssistants" view="assistants"]' ); ?>