<h1><?php echo $company->getName(); ?></h1>
<div class="col-md-6">
	<h3>Kontakta oss</h3>
	<ul>
	<?php if($email = $company->getEmail()): ?>
		<li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:<?php echo $email ?>"><?php echo $email ?></a></li>
	<?php endif; ?>
	<?php if($company->getOfficePhoneNumber()): ?>
		<li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;<?php echo $company->getOfficePhoneNumber() ?></li>
	<?php endif; ?>
	</ul>
</div>
<div class="col-md-6">
	<h3>Besök oss</h3>
	<ul>
		<?php if($company->getVisitingStreetAddress()): ?>
			<li><?php echo $company->getVisitingStreetAddress(); ?></li>
		<?php endif; ?>
		<?php if($company->getVisitingPostalCode()): ?>
		<?php endif; ?>
		<?php if($company->getVisitingCity()): ?>
			<li><?php echo $company->getVisitingPostalCode().', ' ?> <?php echo $company->getVisitingCity() ?></li>
		<?php endif; ?>
	</ul>
</div>