<?php if (sizeof($deals) > 0 && $deals[0]!=null): ?>

    <?php echo do_shortcode('[mspecsapi api="setWebhomeSearch" view="searchbox"]') ?>

    <?php foreach ($deals as $deal): ?>
        <?php if ($link = $deal->getViewUrl()): ?>
            <?php if($estate = $deal->getMainEstate() && !$deal->getWebPageAccessibleOnlyByDirectUrl()): ?>
                <?php $estate = $deal->getMainEstate(); ?>


                <div class="estate">
                <?php //if($deal->getObjectStatus()=='ENUMS_OBJECTSTATUS_TYPE_REFERENCE' && $deal->getApproveMarketingOfDeal()): ?>
                <?php if($deal->getObjectStatus()=='ENUMS_OBJECTSTATUS_TYPE_REFERENCE'): ?>

                    <div class="row objectlist-item">
                        <div class="sold-image">såld</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left">
                                <div>

                                    <?php if($image = $estate->getMainImage()): ?>
                                        <div class="col-md-12 list-image property-image" style="background-image: url('<?php echo $image; ?>'); min-height: 233px;"></div>
                                    <?php else: ?>
                                        <div class="col-md-12 list-image property-image" style="min-height: 233px;"></div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 property-info pull-left">
                                <div class="row fix-left-margin">
                                    <div class="property-name pull-left" style="font-size: 2.4em;font-weight: 400;"><?php echo $deal->getDisplayName(); ?></div>
                                </div>
                                <div class="row fix-left-margin">
                                    <div class="property-city"><?php echo $estate->getResidentialArea() .  " " . $estate->getCity() ?></div>
                                </div>
                                <div class="row row-sellingtext fix-left-margin">
                                    <?php if($deal->getSellingTextShort()): ?><span class="property-description"><strong><?php echo $deal->getSellingTextSubject() ?>.</strong></span><?php endif; ?>
                                    <?php if($deal->getSellingTextShort()): ?><span class="property-description"><?php echo $deal->getSellingTextShort() ?></span><?php endif; ?>
                                </div>
                                <div class="row">
                                    <hr/>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
                                        <?php if ($estate->getLivingArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Boarea: </strong><span><?php echo $estate->getLivingArea(); ?> kvm</span></div>
                                        <?php endif; ?>
                                        <?php if ($estate->getNumberOfRoom()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Antal rum: </strong><span><?php echo $estate->getNumberOfRoom(); ?></span></div>
                                        <?php endif; ?>
                                        <?php if ($deal->getFinalPrice() && $deal->getApproveMarketingOfFinalPrice()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Pris: </strong><span><?php echo number_format($deal->getFinalPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></span></div>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php if($estate->getOtherLivingArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Biarea:</strong> <span><?php echo $estate->getOtherLivingArea() ?> kvm</span></div>
                                        <?php endif; ?>
                                        <?php if($estate->getPlotArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Tomtarea:</strong> <span><?php echo $estate->getPlotArea() ?> kvm</span></div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <?php else: ?>

                    <div class="row objectlist-item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left">
                                <a href="<?php echo $link; ?>" target="_blank">
                                <?php if($image = $estate->getMainImage()): ?>
                                    <div class="col-md-12 list-image property-image" style="background-image: url('<?php echo $image; ?>'); min-height: 233px;"></div>
                                <?php else: ?>
                                    <div class="col-md-12 list-image property-image" style="min-height: 233px;"></div>
                                <?php endif; ?>
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 property-info pull-left">
                                <div class="row fix-left-margin">
                                    <div class="property-name pull-left" style="font-size: 2.4em;font-weight: 400;"><a href='<?php echo $link ?>' title="<?php echo $deal->getDisplayName(); ?>" target="_blank"><?php echo $deal->getDisplayName(); ?></a></div>
                                </div>
                                <div class="row fix-left-margin">
                                    <div class="property-city"><?php echo $estate->getResidentialArea() .  " " . $estate->getCity() ?></div>
                                </div>
                                <div class="row row-sellingtext fix-left-margin">
                                    <?php if($deal->getSellingTextShort()): ?><span class="property-description"><strong><?php echo $deal->getSellingTextSubject() ?>.</strong></span><?php endif; ?>
                                    <?php if($deal->getSellingTextShort()): ?><span class="property-description"><?php echo $deal->getSellingTextShort() ?></span><?php endif; ?>
                                </div>
                                <div class="row">
                                    <hr/>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
                                        <?php if ($estate->getLivingArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Boarea: </strong><span><?php echo $estate->getLivingArea(); ?> kvm</span></div>
                                        <?php endif; ?>
                                        <?php if ($estate->getNumberOfRoom()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Antal rum: </strong><span><?php echo $estate->getNumberOfRoom(); ?></span></div>
                                        <?php endif; ?>
                                        <?php if ($deal->getStartingPrice()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Pris: </strong><span><?php echo number_format($deal->getStartingPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></span></div>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php if($estate->getOtherLivingArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Biarea:</strong> <span><?php echo $estate->getOtherLivingArea() ?> kvm</span></div>
                                        <?php endif; ?>
                                        <?php if($estate->getPlotArea()) : ?>
                                            <div class="row"><strong class="col-lg-5 col-sm-6 col-xs-6">Tomtarea:</strong> <span><?php echo $estate->getPlotArea() ?> kvm</span></div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php if ($deals->hasNextPage()): ?>
        
    <?php endif; ?>
<?php else: ?>
    <div class="alert alert-warning">
        Inga objekt inlagda.
    </div>
<?php endif; ?>
