<?php if (sizeof($deals) > 0 && $deals[0]!=null): ?>

    <?php echo do_shortcode('[mspecsapi api="setWebhomeSearch" view="searchbox"]') ?>

	<?php foreach ($deals as $deal): ?>
		<?php if ($link = $deal->getViewUrl()): ?>
		<?php if($deal->getIsPublished() && !$deal->getWebPageAccessibleOnlyByDirectUrl()): ?>
		<?php $estate = $deal->getMainEstate(); ?>
        <?php if ($deal->getObjectType() == 'OBJECT_TYPE_HOUSING_DEVELOPMENT'): ?>
            <?php $estate = $deal; ?>
        <?php endif; ?>
            <div class="estate">
            <?php //if($deal->getObjectStatus()=='ENUMS_OBJECTSTATUS_TYPE_REFERENCE' &&  $deal->getApproveMarketingOfDeal()): ?>
            <?php if($deal->getObjectStatus()=='ENUMS_OBJECTSTATUS_TYPE_REFERENCE'): ?>
                <div class="col-sm-6 col-md-4 col-lg-3">

                    <div class="objectlist-item column">

                            <div class="sold-image">såld</div>
                            <?php if($image = $estate->getMainImage()): ?>
                                <div class="col-md-12 property-image" style="background-image: url('<?php echo $image; ?>');"></div>
                            <?php else: ?>
                                <div class="col-md-12 property-image"></div>
                            <?php endif; ?>

                        <div class="col-md-12">
                            <ul class="property-info">
                                <li class="property-city"><?php echo $estate->getResidentialArea() ? $estate->getResidentialArea() : $estate->getCity() ?></li>
                                <?php if($estate->getObjectType()!='OBJECT_TYPE_PREMISE' || $estate->getSubObjectType()!='Företag säljes'): ?>
                                    <li class="property-name"><?php echo $deal->getDisplayName(); ?></li>
                                    <?php if ($estate->getLivingArea()) : ?>
                                    <li><strong>Boarea: </strong><?php echo $estate->getLivingArea(); ?> kvm</li>
                                    <?php endif; ?>
                                    <?php if ($estate->getObjectType() == 'OBJECT_TYPE_PREMISE' && $estate->getTotalArea()): ?>
                                    <li><strong>Area: </strong><?php echo $estate->getTotalArea() ?> kvm</li>
                                    <?php endif; ?>
                                    <?php if ($estate->getObjectType() == 'OBJECT_TYPE_PREMISE' && $estate->getModuleArea()): ?>
                                    <li><strong>Modularea: </strong><?php echo $estate->getModuleArea() ?> kvm</li>
                                    <?php endif; ?>
                                    <?php if ($estate->getNumberOfRoom()) : ?>
                                        <li><strong>Antal rum: </strong><?php echo $estate->getNumberOfRoom(); ?></li>
                                    <?php endif; ?>
                                    <?php if ($deal->getFinalPrice() && $deal->getApproveMarketingOfFinalPrice()) : ?>
                                        <li class='property-price'><strong>Pris: </strong><?php echo number_format($deal->getFinalPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></li>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <!-- FÖRETAG SÖLJES -->
                                <?php if($estate->getObjectType()=='OBJECT_TYPE_PREMISE' && $estate->getSubObjectType()=='Företag säljes'): ?>
                                    <?php if ($deal->getSellingTextSubject()): ?>
                                        <li class="property-name"><a href='<?php echo $link ?>' title="<<?php echo $deal->getSellingTextSubject() ?>" target="_blank"><?php echo $deal->getSellingTextSubject() ?></a></li>
                                    <?php elseif($deal->getDisplayName()): ?>
                                        <li class="property-name"><a href='<?php echo $link ?>' title="<?php echo $deal->getDisplayName(); ?>" target="_blank"><?php echo $deal->getDisplayName(); ?></a></li>
                                    <?php endif; ?>
                                    <?php if($estate->getBusinessTradeTypeValue()): ?>
                                        <li><strong>Verksamhetstyp: </strong><?php echo $estate->getBusinessTradeTypeValue() ?></li>
                                    <?php endif; ?>
                                    <?php if ($estate->getBusinessRevenue()): ?>
                                        <li><strong>Omsättning: </strong><?php echo number_format($estate->getBusinessRevenue(), 0, ',', ' ') ?></li>
                                    <?php endif; ?>
                                    <?php if ($deal->getFinalPrice() && $deal->getApproveMarketingOfFinalPrice()) : ?>
                                        <li class='property-price'><strong>Pris: </strong><?php echo number_format($deal->getFinalPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></li>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-sm-6 col-md-4 col-lg-3">

                    <div class="objectlist-item column">
                        <a href="<?php echo $link; ?>" target="_blank">
                            <?php if($image = $estate->getMainImage()): ?>
                                <div class="col-md-12 property-image" style="background-image: url('<?php echo $image; ?>');"></div>
                            <?php else: ?>
                                <div class="col-md-12 property-image"></div>
                            <?php endif; ?>
                        </a>
                        <div class="col-md-12">
                            <ul class="property-info">
                                <li class="property-city"><?php echo $estate->getResidentialArea() ? $estate->getResidentialArea() : $estate->getCity() ?></li>
                                <?php if($estate->getObjectType()!='OBJECT_TYPE_PREMISE' || $estate->getSubObjectType()!='Företag säljes'): ?>
                                    <li class="property-name"><a href='<?php echo $link ?>' title="<?php echo $deal->getDisplayName(); ?>" target="_blank"><?php echo $deal->getDisplayName(); ?></a></li>
                                    <?php if ($estate->getLivingArea()) : ?>
                                        <li><strong>Boarea: </strong><?php echo $estate->getLivingArea(); ?> kvm</li>
                                    <?php endif; ?>
                                    <?php //we need to put some stuff for premise object types as well ?>
                                    <?php if ($estate->getObjectType() == 'OBJECT_TYPE_PREMISE' && $estate->getTotalArea()): ?>
                                        <li><strong>Area: </strong><?php echo $estate->getTotalArea() ?> kvm</li>
                                    <?php endif; ?>
                                    <?php if ($estate->getObjectType() == 'OBJECT_TYPE_PREMISE' && $estate->getModuleArea()): ?>
                                        <li><strong>Modularea: </strong><?php echo $estate->getModuleArea() ?> kvm</li>
                                    <?php endif; ?>
                                    <?php if ($estate->getNumberOfRoom()) : ?>
                                        <li><strong>Antal rum: </strong><?php echo $estate->getNumberOfRoom(); ?></li>
                                    <?php endif; ?>
                                    <?php if($estate->getObjectType()=='OBJECT_TYPE_COMMERCIAL' && $estate->getSubObjectType()): ?>
                                        <li><strong>Kommersiellt: </strong> <?php echo $estate->getSubObjectType() ?></li>
                                    <?php endif; ?>
                                    <?php if($estate->getObjectType()=='OBJECT_TYPE_COMMERCIAL' && $estate->getPlotArea()): ?>
                                        <li><strong>Tomtarea: </strong> <?php echo $estate->getPlotArea() ?></li>
                                    <?php endif; ?>
                                    <?php if ($deal->getStartingPrice()) : ?>
                                        <li class='property-price'><strong>Pris: </strong><?php echo number_format($deal->getStartingPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></li>
                                    <?php endif; ?>
                                <?php endif; ?>

                                <?php if($estate->getObjectType()=='OBJECT_TYPE_PREMISE' && $estate->getSubObjectType()=='Företag säljes'): ?>
                                    <?php if ($deal->getSellingTextSubject()): ?>
                                        <li class="property-name"><a href='<?php echo $link ?>' title="<<?php echo $deal->getSellingTextSubject() ?>" target="_blank"><?php echo $deal->getSellingTextSubject() ?></a></li>
                                    <?php elseif($deal->getDisplayName()): ?>
                                        <li class="property-name"><a href='<?php echo $link ?>' title="<?php echo $deal->getDisplayName(); ?>" target="_blank"><?php echo $deal->getDisplayName(); ?></a></li>
                                    <?php endif; ?>
                                    <?php if($estate->getBusinessTradeTypeValue()): ?>
                                        <li><strong>Verksamhetstyp: </strong><?php echo $estate->getBusinessTradeTypeValue() ?></li>
                                    <?php endif; ?>
                                    <?php if ($estate->getBusinessRevenue()): ?>
                                        <li><strong>Omsättning: </strong><?php echo number_format($estate->getBusinessRevenue(), 0, ',', ' ') ?></li>
                                    <?php endif; ?>
                                    <?php if ($deal->getStartingPrice()) : ?>
                                        <li class='property-price'><strong>Pris: </strong><?php echo number_format($deal->getStartingPrice(), 0, ',', ' '); ?> <?php echo $deal->getCrncy() ?></li>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <?php endif; ?>
            </div>
		<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
	<?php if ($deals->hasNextPage()): ?>
		
	<?php endif; ?>
<?php else: ?>
	
<?php endif; ?>
