<?php if (isset($estate)): ?>

    <h2>Estate: <?php echo $estate->getPropertyName(); ?></h2>

    <?php if ($image = $estate->getMainImage()): ?>
        <img src="<?php echo $image; ?>">
    <?php endif; ?>

    <?php if ($images = $estate->getImages()): ?>
        <h3>Estate Images</h3>
        <?php foreach ($images as $image): ?>
            <img src="<?php echo $image; ?>">
        <?php endforeach; ?>

        <?php if ($image = $estate->getImageByOrder(3)): ?>
            <h3>Estate Image with Order 3</h3>
            <img src="<?php echo $image; ?>">
        <?php endif; ?>

    <?php endif; ?>

<?php else: ?>
    <h2>ESTATE NOT FOUND</h2>
<?php endif; ?>