<?php if (sizeof($estates) > 0): ?>
    <?php foreach ($estates as $estate): ?>
        <?php if ($link = $estate->getViewUrl()): ?>
            <h3><a href="<?php echo $link; ?>">Estate: <?php echo $estate->getPropertyName(); ?></a></h3>
        <?php else: ?>
            <h3>Estate: <?php echo $estate->getPropertyName(); ?></h3>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php if ($estates->hasNextPage()): ?>
        <a href="<?php echo $estates->getNextPageUrl(); ?>" class="mspecs_load-more">hämta fler</a>
    <?php endif; ?>
<?php else: ?>
    <h2>Estates not found</h2>
<?php endif; ?>