<?php if(isset($webhome)): ?>
    <?php if($option = $webhome->getMenuOption()): ?>
        <?php if($option == 1): ?>
            <!-- hide everything -->
            <script>
                $(document).ready(function(e) {
                    $('#main-navigation').hide();
                    $('#main-content').css('padding-top', 0);
                });
            </script>
        <?php elseif($option == 2): ?>
            <!-- always show logo -->
            <script>
                $(document).ready(function(e) {
                    $('#menu-main-menu').hide();
                    $('.navbar-default .navbar-toggle').hide();
                });
            </script>
        <?php elseif($option == 3): ?>
            <!-- show logo on deal -->
            <script>
                $(document).ready(function(e) {
                    if($('#deal-page').length === 0) {
                        $('#main-navigation').hide();
                        $('#main-content').css('padding-top', 0);
                    } else {
                        $('#menu-main-menu').hide();
                        $('.navbar-default .navbar-toggle').hide();
                    }
                });
            </script>
        <?php else: ?>
            <!-- allways show -->
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>