<?php if($web): ?>
<div class="col-md-12">
        <h1><?php echo get_the_title(); ?></h1>
        <div class="row">
            <div class="col-md-8">
                <pre><?php echo $web->getBody() ?></pre>
            </div>
            <div class="col-md-4">
                <?php if($web->getPageImage()): ?>
                <img src="<?php echo $web->getPageImage() ?>" class="webhomeImage" />
            <?php endif; ?>
            </div>
        </div>
        <div class="row clear" style="margin-bottom: 20px;">
            
        </div>
    </div>
<?php endif; ?>