<?php if(isset($webhome)): ?>
    <?php if($option = $webhome->getSearchOption()): ?>
        <?php if($option == 1): ?>
            <div class="row">
                <input class="searchbox center-block" id="searchbox" placeholder="sök..." type="text" />
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>