<?php if($web): ?>
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <pre><?php echo $web->getBody() ?></pre>
            </div>
            <?php if ($image = $web->getPageImage()): ?>
            <div class="col-md-4">
                <img src="<?php echo $image ?>" class="webhomeImage" />
            </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>