<?php if (sizeof($urls) > 0): ?>

    <?php foreach ($urls as $url): ?>
        <?php echo $url->getDisplayName() ?><br/>
        <?php echo $url->getDescription() ?><br/>
        <?php echo $url->getCategory() ?><br/>
        <a href='<?php echo $url->getUrl() ?>' target='_blank'>Ga till</a><br/>
    <?php endforeach; ?>
    <?php if ($urls->hasNextPage()): ?>
        <a href="<?php echo $urls->getNextPageUrl(); ?>" class="mspecs_load-more">hämta fler</a>
    <?php endif; ?>
<?php else: ?>
    <div class="alert alert-warning">
        Inga objekt inlagda.
    </div>
<?php endif; ?>