<?php if (isset($viewing)): ?>

    <br /><br /><br />
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                Tack! En bokningsbekräftelse är nu skickad till din epostadress.
            </div>
        </div>
    </div>
    <br /><br /><br />

<?php else: ?>
    <h2>PAGE NOT FOUND</h2>
<?php endif; ?>