<div class="wrap">
    <form method="post" action="">
        <input type="hidden" name="settings" value="1">
        <h2>MSPECS API Settings</h2>
        <table class="form-table">
            <tr valign="top">
                <th scope="row"><label for="api-link">API link</label></th>
                <td><input type="text" class="regular-text" value="<?php echo esc_attr(MSPECS::getOption('api-link')); ?>" id="api-link" name="api-link"></td>
            </tr>
            <tr valign="top">
                <th scope="row"><label for="username">Username</label></th>
                <td><input type="text" class="regular-text" value="<?php echo esc_attr(MSPECS::getOption('username')); ?>" id="username" name="username"></td>
            </tr>
            <tr valign="top">
                <th scope="row"><label for="password">Password</label></th>
                <td><input type="password" class="regular-text" value="<?php echo esc_attr(MSPECS::getOption('password')); ?>" id="password" name="password"></td>
            </tr>
            <tr valign="top">
                <th scope="row"><label for="api-page">API page</label></th>
                <td>
                    <select id="api-page" name="api-page">
                        <option value="">Select Page</option>
                        <?php $pageId = MSPECS::getOption('api-page'); ?>
                        <?php foreach ($pages as $page): ?>
                            <option value="<?php echo $page->ID; ?>"<?php echo ($page->ID == $pageId) ? ' selected="selected"' : ''; ?>>
                                <?php echo $page->post_title; ?></option>
                        <?php endforeach; ?>
                    </select><br/>
                    <p class="description">Is used for displaying single Estate/Deal information</p>
                </td>
            </tr>
        </table>
        <?php submit_button(); ?>
    </form>

    <form method="post" action="">
        <h2>Cache Settings</h2>
        <p>
            <?php submit_button("Clear Cache", "primary", "clear-cache", false); ?>
            <?php submit_button("Clear Cached Files", "primary", "clear-files", false); ?>
        </p>
    </form>
</div>

<pre style="display: none;"><?php echo print_r($pages, true); ?></pre>